<% include ../partials/header %>

<% var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>

<div class="container fluid">
    <br>
    <h1 class = "text-center">All Tasks</h1>
    <br>
  <div class="container row col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Description</th>
          <th>Due</th>
          <th>Complete</th>
        </tr>
      </thead>
      <tbody>
        <% tasks.forEach(function(task){ %>
        <tr>
          <td><a href="/task/view/<%= task._id %>"><%= task.name %></a></td>
          <td><%= task.description %></td>
          <td><%= task.due %></td>
          <td><%= task.done %></td>
        </tr>
        <% }); %>
      <tbody>
    </table>
  </div>
</div>

<% include ../partials/footer %>