<% include ../partials/header %>

<div class="container">
  <br>
  <div class="container row">
    <h3><%= employee.firstName %> <%= employee.lastName %></h3>
    <% if(currentUser.privilege == 2){ %>
            <a href = "/employee/edit/<%= employee._id %>">
                <button class = "btn btn-warning btn-sm" style = "transform: translateX(20px);">
                    Edit
                </button>
            </a>
            <form style = "display: inline;" action="/employee/delete/<%= employee._id %>?_method=DELETE" method="POST">
                <button class = "btn btn-danger btn-sm" style = "transform: translateX(40px);">
                    Delete
                </button>
            </form>
        <% } %>
  </div>
  <br>
  <br>
  <div class="container row">
    <div class="container col-4">
      <img src="http://localhost:3000/<%= employee.picture %>" class="img-fluid profile-image">
    </div>
    <div class="container col-8 row">
      <div class="container col-1">
        <div class="row"><b>USERNAME</b></div>
        <div class="row"><b>EMAIL</b></div>
        <div class="row"><b>POSITION</b></div>
        <div class="row"><b>TIME OF LAST UPDATE</b></div>
      </div>
      <div class="container col-7">
        <div class="row"><%= employee.username %></div>
        <div class="row"><%= employee.email %></div>
        <div class="row"><span class="badge badge-primary badge-pill"><%= employee.position %></span></div>
        <div class="row"><%= employee.timeLastUpdate %></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container row">
    <h4>Location of Last Check-in</h4>
    <div class="container row">
      <div id="map"></div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <h4>Tasks</h4>
    <div class="container">
      <% employee.tasks.forEach(function(task){ %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= task.name %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= task.due %></h6>
            <p class="card-text">
              <%= task.description %>
            </p>
            <!--<a href="#!" class="card-link">Mark Complete</a>-->
            <a href="/task/view/<%= task._id %>" class="card-link">View Task</a>
          </div>
        </div>
        <br>
      <% }); %>
      
    </div>
  </div>
</div>

<% include ../partials/footer %>